NODE_ENV=production
DATABASE_URL=postgresql://neondb_owner:npg_N8afFxsjA4ke@ep-shy-shadow-am3cyaj3-pooler.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=replace-with-a-long-random-string-at-least-40-characters
ADMIN_USERNAME=miengineering@gmail.com,miengineering17@gmail.com
ADMIN_PASSWORD=6392061892
GOOGLE_CLIENT_ID=374744007598-plgqj6s9ds83v5aij2ehtm60ad2k86er.apps.googleusercontent.com
VITE_GOOGLE_CLIENT_ID=374744007598-plgqj6s9ds83v5aij2ehtm60ad2k86er.apps.googleusercontent.com
AUTO_SEED=true
