DATABASE_URL=postgres://USER:PASS@HOST:5432/DBNAME
JWT_SECRET=-4hFGHwDWUtVIB7ZoBIJIRxTOzcxFnW3P5WKjG3XmVmcGT6edqV0ESUyioa5OyBd
ADMIN_USERNAME=miengineering@gmail.com,miengineering17@gmail.com
ADMIN_PASSWORD=6392061892
GOOGLE_CLIENT_ID=374744007598-plgqj6s9ds83v5aij2ehtm60ad2k86er.apps.googleusercontent.com
NODE_ENV=production
